<launch>
    <arg name="bag_path" />
    <arg name="dst_path" />

    <node pkg="rosbag" type="record" name="bag_recorder" args="-O $(arg dst_path) /pose /spline_trajectory /tf /tf_static" output="screen"/>
    <node pkg="clins" type="clins_offline_node" name="clins_offline_node" output="screen" required="true">
        <param name="config_name" value="/config/ncm.yaml" />
        <param name="bag_path" value="$(arg bag_path)" />
    </node>
</launch>
